<div class="contact">
    <div class="container">
        <h2 class="text-center p-3em color">Contact</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum reiciendis libero assumenda rerum veritatis
            dolores autem, totam placeat id? Repudiandae inventore at accusamus illum laborum doloremque error rerum rem
            aspernatur.</p>
    </div>
    <div class="social-icon flex center-center gap-2em">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-google"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <form class="flex center-center column gap-2em p-3em">
        <div class="flex gap-2em width-80">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
            
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email Address</mat-label>
                <input matInput>
              </mat-form-field> 
              
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Phone Number</mat-label>
                <input matInput>
              </mat-form-field>
              
        </div>
          <div class="flex spacebetween-center width-80">
            <mat-form-field appearance="fill" class="width-80">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
              </mat-form-field> 
              <button mat-raised-button>Send Message</button>
          </div>         
    </form>
</div>