<ngb-carousel *ngIf="showCarousel" #carousel [interval]="5000">
  <ng-template ngbSlide>
    <div class="slider flex center-center gap-3em">
      <h1 class="text-center">HELLO WORLD,<br>
        I AM SOFTWARE DEVELOPER AND WEB DESIGNER<br>
        FROM SOUTH AFRICA</h1>
      <img class="img flex center-center" src="../../../assets/img/web-development.jpg" alt="">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="slider flex center-center">
      <div class="section-content">
        <h1 style="color: white;">Hi,I'm Katlego Tefu</h1>
        <h1 style="color: white;">Full Stack Trainee<br> From South Africa</h1>
        <small style="color: white;">On the other hand, we denounce with righteous indignation and dislike
          men who are so
          beguiled
          demord by</small><br>
          <a href="https://github.com/ShimmyTefu" > <button mat-raised-button color="accent" >My
          Work</button></a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="slider flex center-center">
      <h1 class="text-center">I ENJOY DESIGNING WEBSITES<br>
      AND I LOVE CODING<br></h1>
    </div>
  </ng-template>
</ngb-carousel>