
    <mat-toolbar class="width-80">
        <span class="permanent-marker-regular">SHIMMY
        </span>
        <span class="spacer"></span>
        <div class="top-menu">
            <a class="active" href="index.html"><span>home</span></a>
            <a href="#about" class="scroll"><span>about</span></a>
            <a href="#work" class="scroll"><span>work</span></a>
            <a href="#services" class="scroll"><span>services</span></a>
            <a href="#contact" class="scroll"><span>contact</span></a>
        </div>
    </mat-toolbar>
